header {
  background-color: #64008a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  height: 5.125em;
  font-size: 1em;

  ul {
    gap: 5em;
    display: flex;
    list-style: none;
    align-items: center;

    li a {
      color: #fff;
      text-decoration: none;

      &.active {
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }
}

.iconMenu {
  width: 32px;
  height: 32px;
  display: block;
}
