header {
  background-color: #64008a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  height: 5.125em;
  font-size: 1em;

  ul {
    gap: 5em;
    display: flex;
    list-style: none;
    align-items: center;

    &.desktop-menu{
      @media (max-width: 844px) {
        display:none;
      }
    }

    &.responsive-menu {
      display: none;
      

      @media (max-width: 844px) {
        z-index: 3;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3.125em;
        left: 0;
        width: 100%;
        background-color: #64008a;
        padding: 1em;

        li {
          margin-bottom: 1em;

          a {
            color: #fff;
            text-decoration: none;

            &.active {
              font-weight: bold;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    li {
      a {
        color: #fff;
        text-decoration: none;

        &.active {
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
    }
  }

  .buttonMobileMenu {
    display: none;

    @media (max-width: 844px) {
      display: flex;
      border: none;
      background: none;
    }
  }
}

.iconMenu {
  width: 32px;
  height: 32px;
  display: block;
}
