.homeBanner{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 80vh;
    padding-left: 7.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
    .contentBanner{
        width: 50%;
    }
    h1, p{
        margin-top: 0;
        color: #fff;
    }
    h1{
        font-size: 48px;
    }
    p{
        font-size: 20px;
    }
    button{
        border-radius: 8px;
        height: 52px;
        width: 170px;
        background-color: #96d600;
        color: #fff;
        font-size: 18px;
        padding: auto 14px 18px 14px 18px;
        font-weight: bold;
        border: none;

    }

    @media (max-width: 700px) {
        .contentBanner{
            width: 100%;
        }
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
        button{
            margin-top: 5em;
        }
    }
}